* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-color: #496ceb; }

.copy-position {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 550px;
  max-height: 344px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  margin: auto  auto;
  padding: 25px 32px 32px 32px; }
  .copy-position__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .copy-position__header h3 {
      margin-top: 0;
      font-size: 20px; }
    .copy-position__header p {
      margin: 4px 0 15px 0;
      text-align: center;
      font-size: 14px; }
  .copy-position__select-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .copy-position__select-wrap select {
      width: 485px;
      height: 50px;
      margin-top: 15px;
      border: 2px solid #0080ff;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .copy-position__select-wrap select option {
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
  .copy-position__btn-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px; }
    .copy-position__btn-wrap .btn {
      width: 160px;
      height: 32px;
      border: none;
      -webkit-border-radius: 15px;
              border-radius: 15px;
      font-size: 14px;
      cursor: pointer; }
      .copy-position__btn-wrap .btn-copy {
        background: #318CCA;
        color: #ffffff;
        margin-right: 25px; }
      .copy-position__btn-wrap .btn-cancel {
        background: #ffffff;
        border: 1px solid #318CCA;
        color: #318CCA; }
        .copy-position__btn-wrap .btn-cancel:hover {
          background: #318CCA;
          color: #ffffff; }
